<template>
    <div class="w-full h-full flex justify-center items-center">
        <div class="w-5/6  lg:w-4/6 md:w-5/6 sm:w-full">
            <div class="w-1/2 m-auto">
                <Logo />
            </div>
            <div class="w-5/6 m-auto lg:mt-10 md:mt-14 sm:mt-8">
                <input-custom placeholder="Find your breed..." @click="findPuppie"></input-custom>
            </div>
            <div class="w-5/6 m-auto lg:mt-10 md:mt-14 sm:mt-8">
                <LastSearch :words="getHistory"/>
            </div>
        </div>
    </div>
</template>
<script>
  import Logo from '../components/Logo.vue'
  import InputCustom from '../components/InputCustom.vue'
  import LastSearch from '../components/LastSearchs.vue'
  import { mapMutations, mapGetters } from 'vuex';
  export default{
    components: {
        Logo,
        InputCustom,
        LastSearch
    },
    computed:{
        ...mapGetters('puppies',['getHistory']),
    },
    methods: {
        ...mapMutations('puppies',['findPuppie']),
    },
  }
  
  </script>