<template>
    <div>
      <div class="border rounded-lg shadow bg-white w-full h-full p-4 relative transform transition-all hover:scale-110" >
        <slot></slot>
      </div>
    </div>
  </template>
  
  <script>
  </script>
  
  <style scoped>

  </style>
