<template>
    <div class="w-full h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <div v-for="puppie in getPuppies" :key="puppie.id" class="m-2 animate-fade-in-down" >
            <ItemDetail>
                <action-btn @click="changeStateFavorites(puppie)" :isFavorite="getStatusFavorite(puppie)">
                    <StarIcon size="25" />
                </action-btn>
                <ItemInfo :item="puppie" :imageSrc="puppie.url"></ItemInfo>
            </ItemDetail>
        </div>  
    </div> 
</template>
<script>
import ItemDetail from '../containers/ItemDetail.vue'
import ItemInfo from '../components/ItemInfo.vue'
import ActionBtn from '../components/ActionBtn.vue'
import { StarIcon } from "@vue-hero-icons/solid" 
import { mapGetters, mapMutations } from 'vuex'
export default {
    components: {
        ItemDetail,
        ItemInfo,
        ActionBtn,
        StarIcon
    },
    computed: {
        ...mapGetters('puppies',['getPuppies']),
        ...mapGetters('puppies',['getFavorites']),
    },
    methods:{
        ...mapMutations('puppies',['changeStateFavorites']),
        getStatusFavorite(item){
            let foudFavorite = this.getFavorites.find( favorite => favorite.id === item.id);
            return (foudFavorite) ? true : false;
        }
    },
    mounted(){
    }
}
</script>

<style scoped>

</style>
