<template>
    <div id="content" class="w-1/4 sm:w-3/4 md:w-1/2 lg:w-1/4 h-full fixed top-0 right-0 z-10 bg-pink-400"  v-if="isVisible">
      <button class="rounded-full text-pink-400 bg-white absolute top-4 right-4 p-1" @click="close()">
        <XIcon size="30" />
      </button>
      <div class="w-full mt-10 flex flex-col justify-center text-white text-4xl font-fredoka">
          <div class="flex  justify-center mb-5">
            <span class="text-yellow-400" size="15">
              <StarIcon />
            </span>
            <h1>My Favorites</h1>
          </div>
          <div class="flex flex-wrap items-center justify-center">
            <div v-for="puppie in getFavorites" :key="puppie.id" class="m-2 animate-fade-in-down w-2/6">
              <div class="w-full m-auto">
                <ItemDetail>
                    <action-btn @click="changeStateFavorites(puppie)" :isFavorite="getStatusFavorite(puppie)">
                        <StarIcon size="25" />
                    </action-btn>
                    <ItemInfo :item="puppie" :imageSrc="puppie.url" :isFavorite="true"></ItemInfo>
                </ItemDetail>
              </div>
            </div>
          </div>
      </div>
    </div>
</template>
<script>
  import { StarIcon } from "@vue-hero-icons/solid"
  import { XIcon } from "@vue-hero-icons/solid" 
  import ItemDetail from '../containers/ItemDetail.vue'
  import ItemInfo from '../components/ItemInfo.vue'
  import ActionBtn from '../components/ActionBtn.vue'
  import { mapGetters, mapMutations } from 'vuex'
  export default {
    components:{
      ItemDetail,
      ItemInfo,
      ActionBtn,
      StarIcon,
      XIcon
    },
    props: {
        isVisible:Boolean
    },
    computed: {
      ...mapGetters('puppies',['getFavorites']),
    },
    computed: {
        ...mapGetters('puppies',['getPuppies']),
        ...mapGetters('puppies',['getFavorites']),
    },
    methods:{
        ...mapMutations('puppies',['changeStateFavorites']),
        getStatusFavorite(item){
            let foudFavorite = this.getFavorites.find( favorite => favorite.id === item.id);
            return (foudFavorite) ? true : false;
        },
        close(){
          this.$emit("close");
        }
    },

  }
  
  </script>
  <style scoped>
  #content{
    overflow: scroll;
  }
  </style>