<template>
    <div class="w-full">
        <div class="sm:w-full sm:flex-wrap md:flex lg:flex justify-end mb-10">
            <div class=" sm:w-full md:w-2/6 lg:w-1/6 mr-5">
                <label class="block mb-2  dark:text-gray-400 font-semibold text-white">
                    Start Date
                </label>
                <input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                type="date" 
                placeholder="Start Date"
                v-model="startDate">
            </div>
            <div class="sm:w-full md:w-2/6 lg:w-1/6 mr-5">
                <label class="block mb-2  dark:text-gray-400 font-semibold text-white">
                    End Date
                </label>
                <input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                type="date" 
                v-model="endDate">
            </div>
            <div class="sm:w-full md:w-2/6 lg:w-1/6 flex items-baseline">
                <button @click="selectDate()" class="w-40 rounded border p-2 mt-6 bg-white">
                    Filter
                </button>
            </div>
        </div>
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Date Match
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Match
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Status
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Stage
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                    v-for="match in matches" :key="match.match_id"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="py-4 px-6">
                            {{match.match_start}}
                        </td>
                        <td class="py-4 px-6 flex justify-around items-center">
                            <div class="home border rounded p-3 text-center text-white" :class="(match.stats.home_score > match.stats.away_score) ? 'bg-green-800' : 'bg-red-900'">
                                <img :src="match.home_team.logo">
                                <p>{{match.home_team.name}}</p>
                                <p>{{match.stats.home_score}}</p>
                            </div>
                            <span>VS</span>
                            <div class="away border rounded p-3 text-center text-white" :class="(match.stats.home_score < match.stats.away_score) ? 'bg-green-800' : 'bg-red-900'">
                                <img :src="match.away_team.logo">
                                <p>{{match.away_team.name}}</p>
                                <p>{{match.stats.away_score}}</p>
                            </div>
                        </td>
                        <td class="py-4 px-6">
                            {{match.status.toUpperCase()}}
                        </td>
                        <td class="py-4 px-6">
                            {{match.stage.name}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
  
<script>
export default {
    props: {
        matches:[]
    },
    data:() => ({
        rangeDate:'',
        startDate:'',
        endDate:''
    }),
    methods:{
        selectDate(){
            if(!this.validateRange(this.startDate, this.endDate)){
                alert('Start date cannot be greater than end date')
                return;
            }
            let range = {
                start: this.startDate,
                end: this.endDate,
            }
            this.$emit('filter',range);
        },
        validateRange(start, end){
            let dateStart = new Date(start);
            let dateEnd = new Date(end);
            if(dateStart > dateEnd){
                return false;
            }
            return true;
        }
    }
}
</script>

<style scoped>

</style>
