<template>
    <div>
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Team Id
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Team Name
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Team Logo
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                    v-for="team in teams" :key="team.team_id"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="py-4 px-6">
                            {{team.team_id}}
                        </td>
                        <td class="py-4 px-6">
                            {{team.name}}
                        </td>
                        <td class="py-4 px-6">
                            <img :src="team.logo" alt="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
  
<script>
export default {
    props: {
        teams:[]
    },
}
</script>

<style scoped>

</style>
