<template>
    <div class="w-full h-full">
      <section class="w-full pt-12 mb-3 lg:mb-20 md:mb-14 sm:mb-8">
        <ItemHome />
      </section>
      <section class="w-full flex justify-center">
        <div class="w-3/4">
          <ItemList />
        </div>
      </section>
    </div>
  </template>
  
  <script>
  import ItemHome from '../containers/ItemHome.vue'
  import ItemList from '../containers/ItemList.vue'
  import { mapGetters } from 'vuex';
  export default{
    components:{
      ItemHome,
      ItemList
    },
    computed:{
      ...mapGetters('puppies',['getPuppies'])
    },
  }
  
  </script>
  
  <style scoped>

  </style>
