<template>
    <div class="w-full">
        <div class="w-full p-10 sm:flex-col md:flex-row lg:flex">
            <div class="sm:w-full md:w-1/2 lg:w-1/6 mb-10 mr-10">
                <label 
                for="countries" 
                class="block mb-2  dark:text-gray-400 font-semibold text-white">
                    Select an League
                </label>
                <select
                @change="loadSeasons()"
                v-model="league"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected value="788">World Cup</option>
                    <option value="782">World Cup Qualification Women</option>
                </select>
            </div>
            <div class="sm:w-full md:w-1/2 lg:w-1/6 mb-10 mr-10">
                <label 
                for="countries" 
                class="block mb-2  dark:text-gray-400 font-semibold text-white">
                    Select an Season
                </label>
                <select 
                @change="loadMatches()"
                v-model="season"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Choose a Season</option>
                    <option v-for="season in getSeasons" :key="season.season_id" :value="season.season_id">{{season.name}}</option>
                </select>
            </div>
        </div>
        <div class="w-3/4 m-auto">
            <SportMatchTable :matches="getMatches" @filter="filterForDate"/>
        </div>
    </div>
  </template>
  
  <script>
  import SportMatchTable from '../containers/SportMatchTable.vue'
  import { mapActions, mapGetters } from 'vuex'
  export default{
    components:{
        SportMatchTable
    },
    data: () => ({
        league:'788',
        season:''
    }),
    methods:{
        ...mapActions('sports',['findSeasonByLeague', 'findMatchBySeason','filterByDate']),
        loadSeasons(){
            this.findSeasonByLeague(this.league);
        },
        loadMatches(){
            this.findMatchBySeason(this.season)
        },
        filterForDate(range){
            range.season = this.season;
            this.filterByDate(range)
        }
    },
    computed:{
        ...mapGetters('sports',['getSeasons', 'getMatches']),
    },
    mounted(){
        this.loadSeasons();
        if(this.getSeasons.length > 0){
            this.season = this.getSeasons[0].season_id;
            this.loadMatches();
        }
    }
  }
  
  </script>
  
  <style scoped>
  
  </style>
  