<template>
    <div class="w-full h-full p-10">
      <div class=" sm:w-1/2 md:w-1/2 lg:w-1/6 mb-10">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select an Country</label>
        <select 
        @change="findTeams()"
        v-model="countrySelected"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Choose a country</option>
          <option v-for="country in getCountries" :key="country.country_id" :value="country.country_id">{{country.name}}</option>
        </select>
      </div>
      <div class="w-3/4 m-auto">
        <SportTable :teams="getTeams"/>
      </div>
    </div>
  </template>
  
  <script>
  import SportTable from '../containers/SportTable.vue'
  import { mapActions, mapGetters, mapMutations } from 'vuex';
  export default{
    components:{
      SportTable,
    },
    data:() => ({
      countrySelected:''
    }),
    methods:{
      ...mapActions('sports', ['findTeamByCountry']),
      ...mapMutations('sports',['loadCountries']),
      findTeams(){
        this.findTeamByCountry(this.countrySelected);
      }
    },
    computed:{
      ...mapGetters('sports',['getCountries', 'getTeams'])
    },
    mounted(){
      this.loadCountries()
    }
  }
  
  </script>
  
  <style scoped>
  
  </style>
  