<template>
  <div class="w-full min-h-full bg-blue-900 p-10">
    <div class="w-full flex items-center">
      <p class="mr-5 text-white font-semibold">Navigation :</p>
      <router-link to="/teams" class="mr-5 bg-transparent hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Teams</router-link>
      <router-link to="/matches" class="mr-5 bg-transparent hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Matches</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
export default{

}

</script>

<style scoped>

</style>
