<template>
  <div>
    <div class="absolute top-6 right-6">
      <button class="text-white font-semibold rounded-full px-2 py-2 bg-pink-500 transition-all duration-300" :class="(isFavorite) ? 'text-yellow-400': ''" @click="evenButton()">
          <slot></slot>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props:{
        isFavorite:Boolean,
    },
    methods:{
        evenButton(){
            this.$emit("click");
        }
    },
    
};
</script>

<style scoped>

</style>
