<template>
  <div class="flex">
    <input type="text" v-model="searchValue" class="border rounded-l-full w-3/4 px-4 py-2" :placeholder="placeholder">
    <button class="border text-white font-semibold flex justify-center rounded-r-full w-1/4 px-4 py-2 bg-pink-400" @click="evenButton()"> 
      <span class="hidden sm:hidden md:flex lg:flex mr-4">
        Search 
      </span>
      <SearchIcon  size="25"/>
    </button>
  </div>
</template>
  
<script>
  import { SearchIcon } from "@vue-hero-icons/solid" 
  export default {
      props:{
          placeholder:String,
      },
      components:{
        SearchIcon
      },
      data: () => ({
        searchValue: ''
      }),
      methods:{
          evenButton(){
              this.$emit("click", this.searchValue);
          }
      }
  };
</script>

<style scoped>

</style>
