<template>
    <div>
        <img :src="getImgUrl(item.url)"   :alt="item.breed">
        <div v-if="!isFavorite" class="absolute bottom-7 p-2 rounded-r-full bg-pink-500 w-5/6 flex justify-around">
            <span class="text-xl text-white font-fredoka">Name: {{item.name}}</span>
        </div>
    </div>
</template>

<script>

export default {
    props:{
        item:Object,
        imageSrc:String,
        isFavorite:Boolean
    },
    data: () => {
        return{

        }
    },
    methods: {
        getImgUrl(image) {
            return new URL(image, import.meta.url).href;
        }
    },


};
</script>

<style scoped>

</style>
