<template>
    <div class="w-full h-full flex">
        <h1 class="mr-5 font-semibold text-lg">Last search :</h1>
        <div class="flex flex-wrap items-center">
            <div v-for="word of words" :key="word.id">
                <span class="rounded-xl border mr-3 pl-4 pr-4 pt-3 pb-3 bg-pink-400 text-white">
                    {{word.text}}
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            words:[]
        }
    };
</script>

<style scoped>

</style>
  