<template>
    <div class="w-full h-full">
      <img src="@/assets/puppies_logo.png" alt="Puppies">
    </div>
  </template>
    
  <script>
    export default {
    };
  </script>
  
  <style scoped>
  
  </style>
  