<template>
    <div class="w-full flex items-center justify-center border pt-4 pb-4">
        <h1 class="text-4xl mr-10 font-semibold text-blue-500 font-mono">
            Worky Team
        </h1>
        <router-link to="/puppies">
            <button class="mr-5 bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                Puppies
            </button>
        </router-link>
        <router-link to="/sports">
            <button class="mr-5 bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                Sports
            </button>
        </router-link>

    </div>
</template>

<script>
    export default {
        computed:{
            currentRouteName(){
            return this.$route.name
            }
        }
    };
</script>

<style scoped>

</style>
  