<template>
  <div id="app">
    <Navigation />
    <div class="w-full h-full relative">
      <button v-if="(currentRouteName === 'puppies') ? true : false" class="border w-40 p-3 text-white text-xl font-fredoka bg-pink-400 absolute top-4 left-4 rounded-full flex items-center justify-around" @click="showMenu()"> 
        <span class="text-yellow-400 ">
          <StarIcon />
        </span>
        Favorites
      </button>
      <transition name="fade">
        <ItemFavorites :isVisible="flagMenu" @close="showMenu()"/>
      </transition> 
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'
import ItemFavorites from './containers/ItemFavorites.vue'
import Navigation from './components/Navigation.vue'
import { StarIcon } from "@vue-hero-icons/solid"
export default {
  components:{
    ItemFavorites,
    Navigation,
    StarIcon
  },
  data: () => ({
    flagMenu: false,
  }),
  methods:{
    ...mapMutations('puppies',['setFavorites','initAuxPuppiesList','setHistory']),
    showMenu(){
      this.flagMenu = !this.flagMenu;
    },
  },
  computed:{
    currentRouteName(){
      return this.$route.name
    }
  },
  mounted(){
    this.initAuxPuppiesList();
    if(localStorage.getItem('favorites')){
      let favorites = JSON.parse(localStorage.getItem('favorites'));
      this.setFavorites(favorites);
    }
    if(localStorage.getItem('history')){
      let history = JSON.parse(localStorage.getItem('history'));
      this.setHistory(history)
    }
  }
};
</script>

<style scope>
#app{
  width: 100vw;
  height: 100vh;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease-in;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>